.wrapper {
    background-color: #fefefe;
    max-width: 1000px;
    margin: 20px auto;
}
.budget {
    background-color: #abff006b;
    padding: 20px;
    font-size: 21px;
}
.budget div {
    margin-bottom: 10px;
}
#add {
    width: 60px;
    padding: 5px;
    background-color: #abff00;
    border: none;
    outline: none;
}
input, select {
    border: 1px solid #abff00;
    padding: 5px;
}
.top_line {
    padding: 20px;
}
.left {
    display: inline-block;
    width: 50%;
}
.notes {
    overflow: hidden;
    position: relative;
}
.notes > div {
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.notes .title {
    text-transform: capitalize;
    font-style: italic;
    font-size: 21px;
}